version: "3.9" 
services:
  app:  
    build: .  
    container_name: pythonfastapi-app 
    ports:
      - "8000:8000" 
    depends_on:
      - db  
    environment:
      - MONGO_URL=mongodb://db:27017 
    volumes:
      - ./app:/app 

  db: 
    image: mongo:7.0 
    container_name: pythonfastapi-db
    ports:
      - "27017:27017"  
    volumes:
      - mongo-data:/data/db  

volumes:
  mongo-data:  